<head>
  <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
  <div class="container">
    <h1 class="new_title"> <%= post.title %>
    <p class="show_author"> By <%= post.author %></p>
    <p class="show_message"><%= post.message %></p>
  </div>
<body>
